<template lang="pug">
.calendar
  header
    h1 Available Times
  main
    .schedule(v-if="!initLoading")
      .day-header-blocks
        button.action(:disabled="!displayBlocks.length || displayBlocks[0].isToday" @click="changeDay(-1)")
          i.material-icons chevron_left
        .day-header-block(v-for="day in displayBlocks" :key="day.id")
          day-header(:day="day")
        button.action
          i.material-icons(@click="changeDay(1)") chevron_right
      .day-blocks
        .btn-spacer
        .day-block(v-for="day in displayBlocks" :key="day.id")
          day(:day="day")
        .btn-spacer
    .loader(v-if="initLoading")
      //- TODO loading indicator
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import CalendarSvc from '../services/calendar.svc.js'
import Day from './Day.vue'
import DayHeader from './DayHeader.vue'

const DAY_FORMAT = 'YYYYMMDD'
const NUM_DAYS = 10

export default {
  name: 'calendar',
  props: {
    msg: String
  },
  data,
  computed: {
  },

  // life hooks
  created,
  beforeDestroy,

  methods: {
    calculateVisible,
    changeDay,
    generateDisplayBlock,
    getData,
    handleResize,
    populateDayMap,
    redraw,
  },

  components: {
    Day,
    DayHeader
  }
}

function data () {
  const firstVisibleDate = moment().startOf('day')
  return {
    dayMap: {},
    displayBlocks: [],
    firstVisibleDate,
    initLoading: true,
    lastVisibleDate: null,
    loadingData: false,
    nextTargetDate: firstVisibleDate.clone(),
    today: moment().format(DAY_FORMAT),
    visibleDays: 5
  }
}

// computed

// life hook fns
function created () {
  this.initLoading = true
  this.calculateVisible()
  this.getData().then(this.redraw).finally(() => {
    this.initLoading = false
  })

  window.addEventListener('resize', this.handleResize)
}
function beforeDestroy () {
  window.removeEventListener('resize', this.handleResize)
}

// methods
function calculateVisible () {
  const width = window.innerWidth
  if (width < 640) {
    this.visibleDays = 1
  } else if (width < 1280) {
    this.visibleDays = 3
  } else {
    this.visibleDays = 5
  }
}
function changeDay (direction) {
  if (direction === 1) {
    // TODO better loading indicator
    if (this.lastVisibleDate.isSame(this.nextTargetDate)) { return }

    this.firstVisibleDate.add(1, 'd')
    this.lastVisibleDate.add(1, 'd')

    const date = this.lastVisibleDate.clone()
    const displayBlock = this.generateDisplayBlock(date)
    this.displayBlocks.push(displayBlock)
    this.displayBlocks.shift()

    if (this.nextTargetDate.unix() - this.lastVisibleDate.unix() <= 259200) { // 3 days in s
      // prefetch data as last visible gets closer to last available
      this.getData()
    }
  } else {
    this.firstVisibleDate.subtract(1, 'd')
    this.lastVisibleDate.subtract(1, 'd')

    const date = this.firstVisibleDate.clone()
    const displayBlock = this.generateDisplayBlock(date)
    this.displayBlocks.unshift(displayBlock)
    this.displayBlocks.pop()
  }
}
function generateDisplayBlock (date) {
  const day = date.format(DAY_FORMAT)
  return { id: date.format(), date: date, openings: this.dayMap[day] || [], isToday: day === this.today }
}
async function getData () {
  if (this.loadingData) { return }
  this.loadingData = true
  const availability = await CalendarSvc.getAvailability(this.nextTargetDate.format(), NUM_DAYS)
  this.loadingData = false

  // TODO assumed for demo puporses
  const timeSlots = availability.data[0].slots
  this.nextTargetDate.add(NUM_DAYS + 1, 'd')
  this.populateDayMap(timeSlots)
}
function handleResize () {
  this.calculateVisible()
  this.redraw()
}
function populateDayMap (timeSlots) {
  _.each(timeSlots, timeSlot => {
    const dayMoment = moment(timeSlot.time)
    const day = dayMoment.format(DAY_FORMAT)
    const dayData = { date: dayMoment, time: dayMoment.format('H:mm A') }
    if (this.dayMap[day]) {
      this.dayMap[day].push(dayData)
    } else {
      this.dayMap[day] = [dayData]
    }
  })
}
function redraw () {
  if (this.visibleDays === this.displayBlocks.length) { return }

  this.displayBlocks = []
  this.lastVisibleDate = this.firstVisibleDate.clone().add(this.visibleDays - 1, 'd')
  for (let i = 0; i < this.visibleDays; i++) {
    const date = this.firstVisibleDate.clone().add(i, 'd').startOf('day')
    const displayBlock = this.generateDisplayBlock(date)
    this.displayBlocks.push(displayBlock)
  }
}
</script>

<style scoped lang="stylus">
.calendar
  height 100%
  position relative
  header
    background-color #fff
    h1
      margin-top 0
      padding-top .67em
  main
    align-items center
    bottom 0
    display flex
    left 0
    position absolute
    right 0
    top 135px
    .schedule
      display flex
      flex 1 0 auto
      flex-direction column
      height 100%
      max-width 85%
      margin 0 auto
      overflow hidden
      .day-header-blocks
      .day-blocks
        display flex
      .day-header-blocks
        align-items center
        .action
          background none
          background-color #eee
          border none
          border-radius 50%
          cursor pointer
          font-size 2em
          height 1.5em
          margin 0 10px
          outline none
          transition all .2s ease
          width 1.5em
          &:hover
            background-color #ff4059
          &[disabled]
            cursor default
            background-color transparent
      .day-blocks
        height 100%
        flex 1
        .btn-spacer
          width 68px
      .day-header-block
      .day-block
        border-right 2px solid #eee
        flex 1
        overflow-y scroll
        padding 0 20px 10px
        &:nth-last-child(2)
          border-right none
</style>
