<template lang="pug">
.day
  .time-slots
    .time-slot(v-for="opening in day.openings")
      h3 {{ opening.time }}
  .message(v-if="!day.openings.length")
    h3 No times available
</template>

<script>
export default {
  name: 'day',
  props: {
    day: {
      openings: {
        time: String
      }
    }
  },
  data,
  computed: {
  },

  // life hooks
  created
}

function data () {
  return {
  }
}

// computed

// life hook fns
function created () {
}

</script>

<style scoped lang="stylus">
.day
  .time-slots
    margin-top 20px
    .time-slot
      background-color #eee
      cursor pointer
      margin 10px 0
      padding 5px 10px
      transition all .3s
      &:hover
        color #fff
        background-color #ff4059
</style>
