<template lang="pug">
.day-header(:class="{ today: day.isToday }")
  h2.title {{ day.date.format('dddd') }}
  h3.subtitle {{ day.date.format('MMM D') }}
  hr
</template>

<script>
export default {
  name: 'dayHeader',
  props: {
    day: {
      date: Date,
      isToday: Boolean
    }
  },
  data,
  computed: {
  },

  // life hooks
  created
}

function data () {
  return {
  }
}

// computed

// life hook fns
function created () {
}

</script>

<style scoped lang="stylus">
.day-header
  &.today
    .title
    .subtitle
      background-color #00b4cd
      color #fff
  .title
  .subtitle
    margin 0
    padding 3px
  .subtitle
    color #666
  hr
    margin-bottom 0
</style>
