<template lang="pug">
#app
  calendar
</template>

<script>
import Calendar from './components/Calendar.vue'

export default {
  name: 'app',
  components: {
    Calendar
  }
}
</script>

<style lang="stylus">
html
body
 height 100%
body
  margin 0
  #app
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    color #2c3e50
    font-family 'Avenir', Helvetica, Arial, sans-serif
    height 100%
    text-align center
h1
  font-size 3em
</style>
